*{
       margin: 0;
       padding: 0;       
       font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.app-header{
       display: inline-block;
       position: fixed;
       background-color: #3FBFA8;
       height: 10vh;
       width: 80vw;
       margin-left: 20vw;
}

/* .home-button{
       margin-top: 3vh;
       margin-left: 2vw;
} */

.search-bar{
       height: 4vh;
       width: 63vw;
       margin-top: 15px;
       margin-left: 3vw;
       margin-right: 3vw;
}



.left-aside{
       display: inline-block;
       background-color: #2EA69A;
       width: 20vw;
       height: 100vh;
}

.logo-section{
       background-color: #2EA69A;
       height: 10vh;
       text-align: center;
}

.logo{
       display: inline-block;
       margin-top: 3vh ;
}

.nav-bar-section{
       display: inline-block;
       background-color: #3FBFA8;
       height: 48vh;
       width: 20vw;
}

.nav-list{
       list-style: none;
}

.profile{
       margin-left: 2vw;
       margin-top: 4vh;
       height: 3vh;
       text-align: justify;
}

.inbox{
       margin-left: 2vw;
       margin-top: 6vh;
       height: 3vh;
       text-align: justify;
}

.settings{
       margin-left: 2vw;
       margin-top: 6vh;
       height: 3vh;
       text-align: justify;
}

.log-out{
       margin-left: 2vw;
       margin-top: 6vh;
       height: 3vh;
       text-align: justify;
}

.statics{
       display: inline-block;
       text-align: center;
       position: fixed;
       height: 25vh;
       width:78vw;
       background-color: #ECF2D5;;
       border-radius: 2px black solid;
       margin-top: 12vh;
       margin-left: 1vw;
}

.welcome{
       margin-top: 45px;
       font-size: 60px;
}

.section2{
       background-color: #ECF2D5;
       display: inline-block;
       position: fixed;
       height: 60vh;
       width: 39vw;
       margin-top: 39vh;
       margin-left: 1vw;
}

.statics-img{
       margin-left: 45px;
}

.section3{
       background-color: #ECF2D5;
       display: inline-block;
       position: fixed;
       height: 60vh;
       width: 38vw;
       margin-top: 39vh;
       margin-left: 41vw;
}

.tech-img{
       margin: 20px;
       width: 95%;
       height: 95%;
}