<!DOCTYPE html>
<html lang="es">

<head>
       <meta charset="UTF-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="/public/css/dashboard.css">
       <title>dashboard</title>
</head>

<body>
       <header class="app-header">
              <button class="home-button">
                     <img src="*" alt="home-img">
                     <a href="*" target="_blank">HOME</a>
              </button>
              <input type="search" name="" id="" placeholder="search" class="search-bar">
       </header>
       <aside class="left-aside">
              <section class="logo-section">
                     <h1 class="logo">SERVICOLD</h1>
              </section>
              <section class="nav-bar-section">
                     <ul class="nav-list">
                            <li class="profile"><a href="" target="_blank"><img src="" alt="profile-imge ">Perfil</a>
                            <li class="inbox"><a href="" target="_blank"><img src="" alt="inbox-image ">Bandeja de
                                          entrada</a>
                            <li class="inbox"><a href="" target="_blank"><img src="" alt="example-image ">Ejemplo 1</a>
                            <li class="settings"><a href="" target="_blank"><img src=""
                                                 alt="settings-image ">Configuracion</a>
                            <li class="log-out"><a href="" target="_blank"><img src="" alt="log-out-image ">Cerrar
                                          Sesion</a>
                     </ul>
              </section>
       </aside>
       <section class="statics">
       </section>
       <section class="section2">
       </section>
       <section class="section3">
       </section>
       <section class="secion4">
       </section>
</body>

</html>