<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/public/css/login.css">
</head>

<body>
    <div class="contenedor_saludo">
        <p class="presentacion">SERVICOLD MD S.A.S</p>
        <div class="info_saludo">
            <p class="parrafo">Llegamos para servirle</p>
            <h1>BIENVENIDO DE NUEVO</h1>
            <p class="parrafo2">Servicio, calidad, economía y garantías. Estamos prestos a dar solucion a cada una de
                tus necesidades</p>
        </div>
    </div>
    <form action="/login/login" method="post">
        <div class="container-form">
            <div class="contenedor_login">
                <h2>INICIO DE SESION</h2>
            </div>
            <div class="frm-login">
                <input id="input.electronico" name="email" placeholder="Ingrese correo electronico" type="email">
                <input id="input.password" name="pass" placeholder="Ingrese contraseña" type="password">
                <p>Perdiste tu contraseña</p>
                <button>INICIAR SESION</button>
                <button type="button">
                    <a href="/login/register">
                        Registrarse
                    </a>
                </button>
            </div>
        </div>
    </form>

</body>

</html>