<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/registro.css">
</head>

<body>
    <section class="form-register">
        <div class="encabezado">
            <h4>Registro </h4> <img class="Logo" src="/public/img/logo.png" alt="Logo Empresa">
        </div>
        <form action="/login/register" method="post">
            <input class="controls" type="text" name="name" id="nombres" placeholder="Ingrese su Nombre" required>
            <input class="controls" type="text" name="last_name" id="apellidos" placeholder="Ingrese su Apellido"
                required>
            <input class="controls" type="email" name="email" id="correo" placeholder="Ingrese su Correo" required>
            <input class="controls" type="password" name="password" id="correo" placeholder="Ingrese su Contraseña"
                required>
            <div class="condiciones">
                <input class="confirmacion" type="checkbox" id="D" required>
                <p>Estoy de acuerdo con los <a href="#">Terminos y Condiciones</a></p>
            </div>
            <button class="botons" type="submit">Registrar</button>

            <!-- - <button class="botons"><a href="/login">Registrar</a>
            <button class="botons1"><a href="/login">Ya tengo cuenta</a></button> -- -->
        </form>

</body>

</html>